<h3>Categories</h3>

<app-categories></app-categories>

<h3>Requests</h3>
  <section
  class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start "
  >
  <div class="container">
    <section class="p-5">
      <div class="container">
        <div class="row text-center g-4">



          <div class="col-lg" *ngFor="let request of requests">
            <div class="card bg-secondary text-light">
              <div class="card-body text-center">
      
                <h3 class="card-title mb-3">{{request.title}}</h3>
                <p class="card-text">
                 Budget {{request.price}} $
                </p>
                <a [routerLink]="['/request', request.id]" class="btn btn-dark">Read More</a>
              </div>
            </div>
          </div>

    </div>
  </div>
  </section>
</div>
</section>
 



