<section class="requestSection">
  <h3 *ngIf="noRequestsFound" class="d-flex justify-content-center">
    No requests found
  </h3>

 
  <div class="container py-3 pt-lg-4 pb-lg-5">
    <span>{{requests.length}} Rezultate gasite </span>
    <div class="row d-flex justify-content-center">
      
      <div *ngFor="let request of requests" class="card cardCss">
        <div class="card-body p-4">
          <i class="icon bi bi-twitter"></i>
          <h3 class="card-title mb-3 fs-5">{{ request.title }}</h3>
          <p class="card-text"> {{ request.details }} $</p>
          <p class="card-text">Budget {{ request.price }} $</p>
          <p class="card-text">categorie {{ request.categoryId }} </p>
          <a [routerLink]="['/request', request.id]" class="btn btn-dark"
            >Read More</a
          >
        </div>
      </div>
     
        
     
    </div>
  </div>
</section>
