
.requestSection{
    background-color: rgba(122, 110, 110, 0.13); 
    border-radius: 25px;
}
.cardCss{
    height: 450px;
    width: 250;
    background: rgb(83, 83, 83);
    border: none;
    margin: 20px;
    transition: all 0.3s ease-out;
    color: rgb(255, 255, 255);

}
.cardCss:hover{
    
    
    transform: translateY(-5px) scale(1.005) translateZ(0);
     box-shadow: 1px 1px 25px rgb(70, 70, 70);
}
.icon {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width:80px;
    background: linear-gradient(90deg, #FF7E7E 0%, #FF4848 40%, rgba(0, 0, 0, 0.28) 60%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
 }

.card:hover .icon {
    background-position: -120px;
    transition: all 0.3s ease;
 }
 


