<section>
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans"
    rel="stylesheet"
  />

  <div class="container py-3 pt-lg-4 pb-lg-5">
    <div class=" row justify-content-center">
      <a
        *ngFor="let category of categories"
        href="/requests?category={{category.id}}"
        class="card {{ category.color }}"
      >
        <div class="overlay"></div>
        <div class="circle">
          <img
            width="71px"
            height="76px"
            viewBox="29 14 71 76"
            src="{{ category.imageUrl }}"
            alt="an svg"
          />
        </div>
        <p>{{ category.name }}</p>
      </a>
    </div>
  </div>
</section>
