.avatarIcon {
  width: auto;
  height: 40px;
  border-radius: 25px;
  background-color: rgb(0, 0, 0);
  /* background: linear-gradient(
    351deg,
    rgb(255, 115, 0) 0%,
    rgb(184, 90, 152) 100%
  ); */
  transition: all 0.3s ease-out;
  border-color: aliceblue;
  border-width: 0.5px;
}
.dropdown-menu {
  background: linear-gradient(351deg, rgb(24, 24, 24) 0%, rgb(48, 48, 48) 100%);
 
}
.dropdown-item{
  color: rgb(255, 255, 255);

}
.dropdown-item:hover{
  background: rgb(80, 80, 80) ;

}
.avatarIcon:hover {
  transform: translateY(1px) scale(1.005) translateZ(0);

  background: linear-gradient(351deg, rgb(24, 24, 24) 0%, rgb(48, 48, 48) 100%);
}

a {
  transition: all 0.3s ease-out;
}
a:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
}

.blue {
  background: rgb(20, 20, 29);
}
