<body>
  <nav class="navbar navbar-expand-lg blue navbar-dark py-3 fixed-top">
    <div class="container">
      <a href="" class="navbar-brand">Tutor.ro</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="/requests" class="nav-link"
              ><i class="bi bi-clipboard2-check"></i> Requests</a
            >
          </li>
          <li class="nav-item">
            <a href="/users" class="nav-link"
              ><i class="bi bi-people"></i> Users</a
            >
          </li>
          <li class="nav-item">
            <a href="/categories" class="nav-link"
              ><i class="bi bi-tags"></i>Categories</a
            >
          </li>
          <li>
            <a href="/new-request" class="nav-link"
              ><i class="bi bi-file-earmark-plus"></i>Request Tutor</a
            >
          </li>

          <li *ngIf="!(authService.isLogged$ | async)" class="nav-item">
            <a href="/login" class="nav-link">Login</a>
          </li>
          <li *ngIf="!(authService.isLogged$ | async)" class="nav-item">
            <a href="/register" class="nav-link">Sign Up</a>
          </li>
          <li *ngIf="authService.isLogged$ | async" class="nav-item">
            <div class="dropdown">
              <button
                class="nav-link avatarIcon"
                data-bs-toggle="dropdown"
                id="dropdownMenuButton"
                type="button"
                aria-haspopup="true"
                aria-expanded="false"
                style="
                  border-width: 0em;
                  color: rgb(255, 255, 255);
                  font-weight: bold;
                  font-size: 15px;
                  padding: 0px;
                  padding-right: 8px;
                "
              >
                <img
                  src="{{ currentUser.userLogged.avatarUrl }}"
                  alt=""
                  style="
                    border-radius: 25px;
                    width: 38px;
                    height: 38px;
                    margin-right: 8px;
                  "
                />
                {{ currentUser.userLogged.userName }}
                <i class="bi bi-caret-down-fill"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a
                  class="dropdown-item"
                  [routerLink]="['/user', currentUser.userLogged.id]"
                  >My Profile</a
                >
               
                <a class="dropdown-item" href="#">Another action</a>
                <li><hr class="dropdown-divider"></li>
                <button class="dropdown-item" (click)="logOut()">
                  Log out
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</body>
<footer>
  <div class="text-center p-3 blue">© 2022 iTutor.ro - All rights reserved</div>
</footer>
